#aaaaaaa-----div{
    float: left;
    display: block;
}
#header{
    text-align: center;
    width: 100%;
    border: 1px solid black;
}
#footer{
    text-align: center;
    width: 100%;
    border: 1px solid black;
}
#container{
    width: 100%;
}
#left_column{
    width: 25%;
}
#right_column{
    width: 75%;
}