.top-marg{
    margin-top: 1%;
}

#div_edited{
    font-family: Open Sans;   
    font-weight: 400;
    font-size: 18px;
}

footer{
    text-align: center;
}

.information{
    text-align: center;
    margin-bottom: 1%;
}

.blockOfItems{
    text-align:center
}

.colorText{
    text-decoration: none;
    text-decoration-color: #f5f5f5;
}